*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.head_top {
  width: 100%;
  height: 80px;
  background-color: rgb(1, 5, 56);
  display: flex;
  padding: 0 50px;
  position: relative;
}
.head_top > * {
  height: 100%;
  /* border: 1px solid white; */
}
.head_top > figure {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head_top > figure > img {
  height: 60%;
  border-radius: 50%;
}
.head_top > ul {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  margin-right: 150px;
}
.head_top > ul > li {
  /* border: 1px solid yellow; */
  height: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  margin: 0 15px;
}
.head_top > ul > li:hover > .mega {
  opacity: 1;
  visibility: visible;
  top: 60px;
}
.mega {
  position: absolute;
  width: 100%;
  left: 0;
  top: 110px;
  padding: 10px;
  background: #000;
  opacity: 0;
  visibility: hidden;
  flex-wrap: wrap;
  transition: 0.4s;
  height: 400px;
}
.mega > li {
  width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}
.mega>li>ul{
    width: 20%;
    /* border: 1px solid white; */
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.mega>li>ul>li{
    color: white;
    font-size: 25px;
    width: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    
}
.head_top > ul > li > a {
  /* background-color: red; */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  text-transform: capitalize;
  position: relative;
  color: rgba(255, 255, 255, 0.855);
}
.head_top > ul > li > a::after {
  content: "";
  display: flex;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #fff;
  bottom: -15px;
  left: 0;
  opacity: 0;
  transition: 0.4s;
}
.head_top > ul > li > a:hover::after {
  opacity: 1;
  bottom: -5px;
}
